<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Library_System_New.My.MySettings.booksConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=BooksDB;Integrated Security=True;&#xA;" />
    </connectionStrings>
</configuration>
